.tableTopBar {
  box-shadow: 0px 0.3px 0.9px rgba(27, 33, 45, 0.1), 0px 1.6px 3.6px rgba(27, 33, 45, 0.13);
}

.globalCustomTable {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  background-color: white;
}

.globalCustomTable tr {
  border: none;
  border-bottom: 1px solid #E9E9EB;
}

.globalCustomTable .tableHeaderRow {
  border-bottom: 2px solid #E9E9EB;
  box-shadow: 0px 0.3px 0.9px rgba(27, 33, 45, 0.1), 0px 1.6px 3.6px rgba(27, 33, 45, 0.13);
}

.globalCustomTable td,
.globalCustomTable th {
  padding: 8px;
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #494D57;
}

.globalCustomTable tr:nth-child(even) {
  background-color: white;
}

.globalCustomTable tr:hover {
  background-color: #ddd;
}

.globalCustomTable th {
  margin-bottom: 10px;
  font-weight: 600;
  color: #1E2532;
}

.globalCustomTable th,
.globalCustomTable tfoot td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #edeef0;
}

.paginationBox {
  box-shadow: 0px 0.3px 0.9px rgba(27, 33, 45, 0.1), 0px 1.6px 3.6px rgba(27, 33, 45, 0.13);
}